.wrapper-group-edit
  = render "application/header"
  .main-group-edit
    .main-group-edit__contents
      %h2 Edit group
      = render partial: 'form_group', locals: { group: @group }
  = render "application/footer"
