.wrapper-top
  %header
    %h1<>League Match App
  .main-top
    .main-top__contents
      = link_to new_user_session_path, class: "sign-in-btn sign-btn" do
        %button<>Sign in
      = link_to new_user_registration_path, class: "sign-up-btn sign-btn" do
        %button<>Sign up
      = link_to "What is League Match App?", about_path, class: "what-is" 
  %footer
    %p<>App favicon by 
    = link_to "icon8", "#"





