header.group{
  background-color: #003300;
  height: 8vh;
  padding: 1vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  a.header-user-name{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  a.header-cog{
    color: white;
    font-size: 20px;
  }
}

footer.group{
  padding: 10px;
  background-color: #003300;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-left{
    font-size: 13px;
  }
  .footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
      a{
      margin-left: 5px;
      color: white;
      text-decoration: underline;
      font-size: 12px;
    }
  }
}

// index.html.haml
.wrapper-group{
  .main-group{
    height: 87vh;
    background-color: #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding: 3vh 10vw 5vh 10vw;
      background-color: white;
      height: 87vh;
      width: 98vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: scroll;
      .add-group-box{
        margin-bottom: 2vh;
        width: 100%;
        display: flex;
        justify-content: center;
        a.add-group-btn{
          height: 5vh;
          width: 120px;
          button.button-green{
            height: 5vh;
            width: 120px;
            font-size: 18px;
          }
        }
      }
      .group-box{
        margin-bottom: 2vh;
        width: 100%;
        &__group-name{
          display: block;
          font-size: 20px;
        }
        &__group-members{
          width: 70vw;
          margin-left: 4vw;
          font-size: 12px;
          color: gray;
          &--member{
            margin-right: 5px;
            display: inline-block;
          }
        }
        &__group-date{
          margin-left: 4vw;
          font-size: 12px;
          color: gray;
        }
      }
    }
  }
}

