header.group{
  background-color: #003300;
  height: 8vh;
  padding: 1vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  .header-left{
    display: flex;
    align-items: center;
    img.user-image{
      height: 4vh;
      width: 4vh;
      border-radius: 2vh;
      background-color: white;
    }
    a.header-user-name{
      margin-left: 4vw;
      color: white;
      font-size: 3vh;
      font-weight: bold;
      max-width: 50vw;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  
  }
  .header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.header-icon{
      color: white;
      display: block;
      .header-icon__poll{
        font-size: 3.5vh;
      }
      .header-icon__cog{
        font-size: 3vh;
      }
    }
    a.header-icon-poll{
      margin-right: 6vw;
    }
  }

}

footer.group{
  padding: 10px 4vw;
  background-color: #003300;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-left{
    font-size: 2vh;
  }
  .footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vh;
      a{
      margin-left: 10px;
      color: white;
      text-decoration: underline;
      font-size: 1.5vh;
    }
  }
}

// index.html.haml
.wrapper-group{
  .main-group{
    min-height: 87vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding: 3vh 10vw 5vh 10vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .add-group-box{
        margin-bottom: 2vh;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .group-box{
        margin-bottom: 2vh;
        width: 100%;
        &__group-name{
          display: block;
          font-size: (64vh * $mn);
          color: #003300;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &__group-members{
          width: 70vw;
          margin-left: 4vw;
          font-size: (32vh * $mn);
          color: #004400;
          &--member{
            margin-right: 5px;
            max-width: 70vw;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            }
        }
        &__group-date{
          margin-left: 4vw;
          margin-top: 1vh;
          font-size: (32vh * $mn);
          color: #004400;
        }
      }
    }
  }
}

// new.html.haml
.wrapper-group-new{
  .main-group-new{
    min-height: 87vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding: 3vh 10vw 5vh 10vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: (48vh * $mn);
      }
    }
  }
}

// edit.html.haml
.wrapper-group-edit{
  .main-group-edit{
    min-height: 76.6vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding: 3vh 10vw 5vh 10vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: (48vh * $mn);
      }
      .other-btns{
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        a.cancel-btn{
          margin-left: 4vw;
        }
      }
    }
  }
}

// _form_group.html.haml
#new-group{
  font-size: (48vh * $mn);
  display: flex;
  align-items: center;
  flex-direction: column;
  .field{
    padding: 1vh 0;
    width: 80vw;
    label{
      font-size: (40vh * $mn);
    }
    input.input-field{
      padding: 0 10px;
      width: 80vw;
      font-size: (48vh * $mn);
      &::placeholder {
        color: #004400;
        opacity: 0.3;
      }
    }
    .group-member{
      font-size: (48vh * $mn);
      border-right: 1px solid #004400;
      border-left: 1px solid #004400;
      border-bottom: 1px solid #004400;
      padding: 5px 20px 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name{
        max-width: 65vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      i.group-member__add{
        font-size: (64vh * $mn);
        color: #007700;
      }
      i.group-member__remove{
        font-size: (64vh * $mn);
        color: #FF9872;
      }
    }
    .group-member__current-user{
      border-top: 1px solid #004400;
    }
  }
  .actions{
    margin: 3vh 0 2vh 0;
    display: block;
    height: 10vh;
    width: 40vw;
    padding: (10vh / 12);
    input.button-green{
      height: 100%;
      width: 100%;
      font-size: (10vh / 3);
    }
  }
}


@media screen and (min-width:1024px) {

  .wrapper-group{
    width: 1024px;
    margin: 0 auto;
    a.btn-wrapper{
      width: 300px;
    }
    .main-group{
      &__contents{
        .group-box{
          &__group-members{
            width: 700px;
            &--member{
              max-width: 700px;
              }
          }
        }
      }
    }
  }
  
  .wrapper-group-new{
    width: 1024px;
    margin: 0 auto;
  }

  .wrapper-group-edit{
    width: 1024px;
    margin: 0 auto;
    a.btn-wrapper{
      width: 300px;
    }
  }

  #new-group{
    .field{
      width: 500px;
      input.input-field{
        width: 500px;
      }
      .group-member{
        &__name{
          max-width: 400px;
        }
      }
    }
    .actions{
      width: 300px;
    }
  }
  


}


