header.group{
  background-color: #003300;
  height: 8vh;
  padding: 1vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  a.header-user-name{
    color: white;
    font-size: 3vh;
    font-weight: bold;
  }
  a.header-cog{
    color: white;
    font-size: 3vh;
  }
}

footer.group{
  padding: 10px 4vw;
  background-color: #003300;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-left{
    font-size: 2vh;
  }
  .footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vh;
      a{
      margin-left: 10px;
      color: white;
      text-decoration: underline;
      font-size: 1.5vh;
    }
  }
}

// index.html.haml
.wrapper-group{
  .main-group{
    height: 87vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding: 3vh 10vw 5vh 10vw;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
      .add-group-box{
        margin-bottom: 2vh;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .group-box{
        margin-bottom: 2vh;
        width: 100%;
        &__group-name{
          display: block;
          font-size: (64vh * $mn);
          color: #003300;
        }
        &__group-members{
          width: 70vw;
          margin-left: 4vw;
          font-size: (32vh * $mn);
          color: #004400;
          &--member{
            margin-right: 5px;
            display: inline-block;
          }
        }
        &__group-date{
          margin-left: 4vw;
          font-size: (32vh * $mn);
          color: #004400;
        }
      }
    }
  }
}

