$mn: 0.0574;

.button-green{
  cursor: pointer;
  border-radius: 5px;
  background-color: #CEF9DC;
  border: 1px solid #003300;
}

.button-gray{
  cursor: pointer;
  border-radius: 5px;
  background-color: #eeeeee;
  border: 1px solid black;
}

.button-red{
  cursor: pointer;
  border-radius: 5px;
  background-color: #FFD5EC;
  border: 1px solid red;
}

a.btn-wrapper{
  display: block;
  height: 10vh;
  width: 40vw;
  padding: (10vh / 12);
  button{
    height: 100%;
    width: 100%;
    font-size: (10vh / 3);
  }
}

header.top{
  background-color: #003300;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  a.top__logo{
    color: white;
    font-size: 4.5vh;
    font-weight: bold;
  }
}

footer.top{
  padding: 10px 20px;
  background-color: #003300;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: (32vh * $mn);
  a{
    margin-left: 5px;
    color: white;
    text-decoration: underline;
  }
}

// top.html.haml
.wrapper-top{
  .main-top{
    height: 70vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding-top: 10vh;
      height: 70vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
      a.sign-up-btn{
        margin-top: 10vh;
      }
      a.aboutme-btn{
        margin-top: 10vh;
      }
    }
  }
}

// about.html.haml
.wrapper-about{
  .main-about{
    height: 70vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding-top: 4vh;
      height: 70vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
      h2{
        font-size: (48vh * $mn);
      }
      p{
        margin: 0 6vw;
        margin-top: 4vh;
        font-size: (32vh * $mn);
      }
      ul{
        margin: 4vh 8vw 0 12vw;
        font-size: (32vh * $mn);
        list-style: square;
      }
      .sign-btns{
        margin-top: 5vh;
        display: flex;
        a.sign-up-btn{
          margin-left: 4vw;
        }
      }
      a.back-top-btn{
        margin-top: 3vh;
        margin-bottom: 2vh;
      }
    }
  }
}

// signout.html.haml
.wrapper-signout{
  .main-signout{
    height: 70vh;
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding-top: 4vh;
      height: 70vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
      h2{
        font-size: (64vh * $mn);
        font-weight: bold;
        height: 30vh;
        padding-top: 10vh;
      }
      .sign-btns{
        margin-top: 7vh;
        display: flex;
        a.sign-up-btn{
          margin-left: 4vw;
        }
      }
      .back-top-btn{
        margin-top: 4vh;
      }
    }
  }
}
