.button-green{
  cursor: pointer;
  border-radius: 5px;
  background-color: #CEF9DC;
  border: 1px solid #003300;
}

.button-gray{
  cursor: pointer;
  border-radius: 5px;
  background-color: #eeeeee;
  border: 1px solid black;
}

header.top{
  background-color: #003300;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  a.top__logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}

footer.top{
  padding: 10px 20px;
  background-color: #003300;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  a{
    margin-left: 5px;
    color: white;
    text-decoration: underline;
  }
}

// top.html.haml
.wrapper-top{
  .main-top{
    height: 70vh;
    background-color: #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding-top: 10vh;
      background-color: white;
      height: 70vh;
      width: 98vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      a.top-btn{
        display: block;
        height: 10vh;
        width: 40vw;
        button{
          height: 10vh;
          width: 40vw;
          font-size: 26px;
        }
      }
      .sign-up-btn{
        margin-top: 10vh;
      }
      .aboutme-btn{
        margin-top: 10vh;
      }
    }
  }
}

// about.html.haml
.wrapper-about{
  .main-about{
    height: 70vh;
    background-color: #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding-top: 4vh;
      background-color: white;
      height: 70vh;
      width: 98vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: 16px;
      }
      p{
        margin: 0 6vw;
        margin-top: 4vh;
        font-size: 12px;
      }
      ul{
        margin: 4vh 8vw 0 12vw;
        font-size: 12px;
        list-style: square;
      }
      .sign-btns{
        margin-top: 7vh;
        display: flex;
        a.sign-btn{
          display: block;
          height: 8vh;
          width: 25vw;
          button{
            height: 8vh;
            width: 25vw;
            font-size: 22px;
          }
        }
        a.sign-up-btn{
          margin-left: 10vw;
        }
      }
      .back-top-btn{
        margin-top: 4vh;
        height: 8vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        button{
          height: 8vh;
          width: 30vw;
          font-size: 20px;
        }
      }
    }
  }
}

// signout.html.haml
.wrapper-signout{
  .main-signout{
    height: 70vh;
    background-color: #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding-top: 4vh;
      background-color: white;
      height: 70vh;
      width: 98vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: 30px;
        height: 30vh;
        padding-top: 10vh;
      }
      .sign-btns{
        margin-top: 7vh;
        display: flex;
        a.sign-btn{
          display: block;
          height: 8vh;
          width: 25vw;
          button{
            height: 8vh;
            width: 25vw;
            font-size: 22px;
          }
        }
        a.sign-up-btn{
          margin-left: 10vw;
        }
      }
      .back-top-btn{
        margin-top: 4vh;
        height: 8vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        button{
          height: 8vh;
          width: 30vw;
          font-size: 20px;
        }
      }
    }
  }
}
