.header-league{
  padding: 1vh 4vw 1vh 6vw;
  border-right: 4px solid #003300;
  border-left: 4px solid #003300;
  border-bottom: 4px solid #003300;
  color: #003300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name-member{
    width: 100%;
    a.group-name{
      color: #003300;
      font-size: 2.5vh;
      font-weight: bold;
    }
    .group-members{
      margin-top: 1vh;
      width: 100%;
      font-size: 1.5vh;
      &__member{
        display: inline-block;
      }
    }
  }
  a.group-cog{
    margin-left: 10px;
    .group-cog__icon{
      color: #003300;
      font-size: 2.5vh;
    }
  }
}

.header-league-show{
  padding: 1.2vh 4vw 1vh 9vw;
  border-right: 4px solid #003300;
  border-left: 4px solid #003300;
  background-color: #003300;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  &__name-member{
    width: 100%;
    h2.league-name{
      font-size: 2.2vh;
      font-weight: bold;
    }
    .league-members{
      margin-top: 1vh;
      width: 100%;
      font-size: 1.5vh;
      &__member{
        display: inline-block;
      }
    }
  }
  a.league-cog{
    margin-left: 20px;
    .league-cog__icon{
      font-size: 2.5vh;
      color: white;
    }
  }
}

// index.html.haml
.wrapper-league{
  .main-league{
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      padding: 3vh 10vw 5vh 10vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .add-league-box{
        margin-bottom: 2vh;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .league-box{
        margin-bottom: 2vh;
        width: 100%;
        &__league-name{
          display: block;
          font-size: (64vh * $mn);
        }
        &__league-members{
          width: 70vw;
          margin-left: 4vw;
          font-size: (32vh * $mn);
          color: #004400;
          &--member{
            margin-right: 5px;
            display: inline-block;
          }
        }
        &__league-date{
          margin-left: 4vw;
          font-size: (32vh * $mn);
          color: #004400;
        }
      }
    }
  }
}

// show.html.haml
.wrapper-league-show{
  .main-league-show{
    border-right: 4px solid #003300;
    border-left: 4px solid #003300;
    display: flex;
    justify-content: center;
    &__contents{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .league-table{
        margin: 3vh 5vw;
        width: 90vw;
        overflow: auto;
        table{
          tbody{
            tr{
              th, td{
                border: 1px solid #003300;
                font-size: (32vh * $mn);
                max-width: 15vw;
                padding: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: #003300;
                .td-becenter{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  span.space-span{
                    margin: 0 5px;
                  }
                }
              }
              .thtd-won{
                border-left: 3px double #003300;
              }
            }
          }
        }
      
      }
      .league-form{
        height: 500px;
        width: 100%;
        background-color: #003300;
      }
    }
  }
}

