@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

@import "modules/home";
@import "modules/user";
@import "modules/devise_error";
@import "modules/group";
@import "modules/league";
